/* Reset default margin and padding */
* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

/* Body styles for background and font */

body {
  font-family: "Roboto", sans-serif;

  /* background-color: #121212; */

  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.home-container {
  width: 30rem;
}

.App-header {
  filter: drop-shadow(0 5px 5px rgb(0, 0, 0));
  animation: bounce 3s linear infinite;
  padding: 5px;
}

.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  font-size: 3rem;
}
#curve {
  fill: transparent;
}

.img-logo {
  height: 100%;
  width: 100%;
}

.button-container {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  color: #000000;
  font-size: 4rem;
  display: flex;
  gap: 2rem;
}

.main-page-btn {
  box-shadow: #000000 0px 7px 2px, #000 0px 8px 5px;
  background-color: rgb(224, 101, 0);
  border-radius: 15px;
  font-size: 1.5rem;
  transition: 0.5s;
  width: 15rem;
  height: 5rem;
}

.letters-btn:hover {
  transform: rotate(10deg);
  filter: brightness(0.9);
}

.words-btn:hover {
  transform: rotate(-5deg);
  filter: brightness(0.9);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  button {
    padding: 12px 25px;

    font-size: 1em;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
