/* Reset default margin and padding */

* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

/* Body styles for background and font */

body {
  font-family: "Roboto", sans-serif;

  /* background-color: #121212; */

  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;
}
/* home-container*/
.home-container {
  height: 100%;
  width: 40rem;

  padding: 100vh 10rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(19, 12, 0, 0.958);
  margin-bottom: 500px;
}

/* Container for the app */

.App {
  display: flex;

  justify-content: center;

  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* Header styles */

.App-header {
  padding: 5px;

  border-radius: 10px;

  margin-bottom: 50px; /* Add margin bottom to create separation */
}

/* Title styles */

.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 70px;
  font-size: 40px;
  margin-left: 8px;

  text-transform: uppercase;

  letter-spacing: 2px;
  color: rgb(246, 215, 158);
}
.img-logo {
  width: 20rem;
  height: 200px;
}

/* Button container */

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
  font-size: 50px;
  color: #2e1406;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.mr-10 {
  margin-left: 30px;
  background-color: #e65100;
  padding: 30px 30px;

  border-radius: 20px;
}
.mr-9 {
  margin-left: 30px;
  background-color: #e65100;
  padding: 30px 70px;
  border-radius: 20px;
  margin-top: 30px;
}

button:hover {
  background-color: #f09377;
}

/* Media query for responsiveness */

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  button {
    padding: 12px 25px;

    font-size: 1em;
  }
}
