.word-container {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  perspective: 1000px;
  position: relative;
  color: black;
  display: flex;
  height: 18vh;
  width: 100%;
}

.word-front {
  transform-style: preserve-3d;
  background-color: aliceblue;
  backface-visibility: hidden;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.word-language {
  font-size: 1.2rem;
  width: 100%;
  padding: 0;
}

.word-english {
  font-size: 0.7rem;
  font-weight: 300;
  width: 100%;
}

.word-back {
  position: absolute;
  background-color: rgb(53, 139, 110);
  backface-visibility: hidden;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
}

.word-back:hover {
  filter: brightness(0.8);
}

.word-container .word-front {
  transition: all ease-in 0.2s;
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .word-front {
  transform: rotateY(0deg) scale(1);
  transition-delay: 0.2s;
  opacity: 1;
}

.word-container .word-back {
  transition: 0.5s;
}
.flipped .word-back {
  transform: rotateY(180deg);
  transition: 0.6s;
  opacity: 0;
}
