:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.w-container {
  width: 30rem;
  z-index: 50;
}
.w-dialog {
  width: 15rem;
  height: 15rem;
  z-index: 50;
}

.letter-animation {
  animation: rotateScaleAnimation 3s infinite linear;
}

@keyframes rotateScaleAnimation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}


@font-face {
  font-family: 'Bubble';
  src: url('./fonts/bubble.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'forces';
  src: url('./fonts/forces.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}






